<!DOCTYPE html>
<html dir="rtl" lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../images/3.png" type="image/x-icon" />
    <title>خطای 404</title>
    <style>
      .container {
        display: flex;
        justify-content: center;
        height: 100vh;
        align-items: center;
        flex-direction: column;
      }
    </style>
  </head>
  <body style="background-color: #f4f4f4">
    <div class="container">
      <img
        height="500px"
        src="https://img.freepik.com/free-vector/404-error-with-cute-animal-concept-illustration_114360-1919.jpg?size=626&ext=jpg&ga=GA1.1.1410702522.1689505960&semt=ais"
        alt="خطای 404"
      />
      <h3>
        خطای 404 | یافت نشد
        <a style="text-decoration: 0; margin-right: 25px" href="/"
          >برگشت به خانه</a
        >
      </h3>
    </div>

    <script src="../javascripts/script.js"></script>
  </body>
</html>
