<!-- slider -->

<div class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img
      class="slider-image"
      src="https://dkstatics-public.digikala.com/digikala-adservice-banners/777ee69e1840d2e1b4582ccb31f0c10246829a9d_1688114698.jpg?x-oss-process=image/quality,q_95/format,webp"
      style="width: 100%"
    />
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img
      class="slider-image"
      src="https://dkstatics-public.digikala.com/digikala-adservice-banners/f11640b499f66883dc54fc44a961d77aa5db8f95_1690219039.jpg?x-oss-process=image/quality,q_95/format,webp"
      style="width: 100%"
    />
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img
      class="slider-image"
      src="https://dkstatics-public.digikala.com/digikala-adservice-banners/869e3bc8001576c2d64e202bc697b3dcf9edca42_1675859628.gif?x-oss-process=image?x-oss-process=image/format,webp"
      style="width: 100%"
    />
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img
      class="slider-image"
      src="https://dkstatics-public.digikala.com/digikala-adservice-banners/ce330559ac4647b2cec5b41d0bb024c427fc9eb0_1690386582.jpg?x-oss-process=image/quality,q_95/format,webp"
      style="width: 100%"
    />
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img
      class="slider-image"
      src=" https://dkstatics-public.digikala.com/digikala-adservice-banners/aa50ca4d614c91742f231cab21772eee91515b7e_1690058927.jpg?x-oss-process=image/quality,q_95/format,webp"
      style="width: 100%"
    />
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img
      class="slider-image"
      src="https://dkstatics-public.digikala.com/digikala-adservice-banners/6226dde386bf52ce1a9a9b545c7f94ac694be42a_1690016419.jpg?x-oss-process=image/quality,q_95/format,webp"
      style="width: 100%"
    />
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img
      class="slider-image"
      src="https://dkstatics-public.digikala.com/digikala-adservice-banners/08ef5d13b4882fb62ffe76e33b728649f5f62649_1690185321.jpg?x-oss-process=image/quality,q_95/format,webp"
      style="width: 100%"
    />
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img
      class="slider-image"
      src="https://dkstatics-public.digikala.com/digikala-adservice-banners/4a6acc1ad1f0def9695c57702e289673d1d32204_1690118516.jpg?x-oss-process=image/quality,q_95/format,webp"
      style="width: 100%"
    />
  </div>
</div>
<br />

<div style="text-align: center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>
